.service-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;

  .service {
    position: relative;
    flex: 0 0 240px;
    height: 140px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background: lightgray;

    .service-name {
      padding-bottom: 10px;
      font: 600 18px/1 sans-serif;
    }
    .events-lost {
      font: 600 52px/1 sans-serif;

      sup {
        padding-left: 10px;
        font: 400 12px/1 sans-serif;
      }
    }
    &.red {
      border: 6px solid #e74c3c;
    }
  }
 .service-children {
    flex: 0 0;
 } 
}
